.custom-shape-divider-top-1670507500 {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	overflow: hidden;
	line-height: 0;
}

.custom-shape-divider-top-1670507500 .shape-fill {
	fill: #0a080a34;

}